# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Popular languages for Data Science
* Commonly used libraries for Data Science
* Widely used tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn
4. Matplotlib

| Data Science Tools  | 
|---------------------|
|Jupyter Notebook     |
|VS Code              |
|RStudio              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This a simple arithmetic expression to mutiply then add integer 
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

** Author
N Rithik Raj